@import url('https://fonts.googleapis.com/css?family=Anton');

body {
	  text-align: center;
	  background-image: url("../goatwhorephoto.jpg");
	  background-size: cover;
	  color: #FFFFFF
}

hr {
	width: 500px
}

h1 {
	content: center;
	font-size: 50px;
	color: #ff0000;
}

p {
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
	color: #ff0000;
}

button {
	background-color: #000000;
	font-color: #ffffff;
}
