body {
	background-color: black;
	size: absolute;

}
header {
	background-color: black;
	border: 1px grey solid;
	padding: 20px;

}

nav {
	background-color: red;
	border: 1px grey solid;
	padding: 20px;
	width: absolute;
	height: 20px;
}
nav ul {
	margin: 2px;
	padding: 2px;
	text-decoration-color: black;
	list-style-type: none;

}
nav ul li {
	margin: 0;
	padding: 0;
	float: left;
}

nav ul li a {
	text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
aside {
	background-color: grey;
	border: 1px white solid;
	padding: 20px;
	float: right;
	width: 250px;
	height: 450px;
	display: block;
}

article {
	background-color: silver;
    border: 1px white solid;
    padding: 20px;
    float: left;
    width: 500px;
    height: 500px;
    display: block;
}
footer {
    background-color: silver;
    border: 1px white solid;
    padding: 40px;
    clear: both;
    margin: 40px;
    align-self: center;
}

