header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	align-self: 0 auto;

}

nav {
	position: absolute;
	left: 0px;
	height: 30px;
	margin: 30px;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li{
	margin: 0;
	padding: 0;
	float: left
}
 nav ul li a {
 	text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #FFF;
    text-align: center;
  }

li {
	text-decoration: none;
	text-decoration-color: red;
	font-family: sans-serif;
	align-content: left;

}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}	

section {
	background-color: #FFE2B8;
	align-content: center;
}
aside {
	background-color: #FFC675;
	border: 2px black solid;
	padding: 50px;
	margin: 20px 20px 20px 20px;
	float: right;
	height: 300px;
	width: 300px;
	
}

article {
	background-color: #E89C6C;
	border: 2px black solid;
	padding: 50px;
	margin: 50px 50px 50px 50px;
	float: left;
	height: 300px;
	width: 300px;
}
img {
	height: 300px;
	width: 300px;
}

p {
	font-family: helvetica, sanseriff;
	font-variant: small-caps;
	text-decoration-color: red;

}


footer {
	background-color: #FF957E;
	border: 2px black solid;
	padding: 30px;
	clear: both;
	
}


	