body {
	background-color: black;

}
header {
	background-color: black;
	border: 1px grey solid;
	padding: 20px;

}

nav {
	background-color: red;
	border: 1px grey solid;
	padding: 20px;
	width: 20px;
	height: 20px;
}

aside {
	background-color: grey;
	border: 1px white solid;
	padding: 20px;
	float: right;
	width: 300px;
	height: 300px;
}

article {
	background-color: silver;
    border: 1px white solid;
    padding: 20px;
    float: left;
    width: 500px;
    height: 500px;
}
footer {
    background-color: silver;
    border: 1px white solid;
    padding: 20px;
    clear: both;
}

