@import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded');
body {
	text-align: center;
	background: url("../goatwhorephoto.jpg");
	background-size: cover;
	color: #FFFFFF;
}

hr {
	width: 200px;
}
p {
	font-size: 30px;
	line-height: 1.5em;
	margin: 2em;
	color: #ffffff;
	font-size: 55px;
}